extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros" class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris posuere quam felis, sed placerat risus semper nec. Etiam metus tortor, viverra et eleifend in, congue at sapien. Curabitur vestibulum quam et tellus ultrices, a condimentum lectus molestie. 
                p Sed vel nibh a turpis porta vulputate. Nulla facilisis lacus vitae justo sodales, vel tincidunt eros euismod. Nam ullamcorper elementum mi a tincidunt. Vestibulum ut leo et ligula scelerisque facilisis id non ipsum. 
                p Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi odio sapien, sagittis sed condimentum in, consequat at turpis. Vivamus facilisis nibh ac massa accumsan rhoncus.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Nulla eget suscipit quam. Suspendisse id aliquet tellus. 
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Ut viverra volutpat rhoncus. In orci ante, malesuada vel orci eget, mollis lacinia nulla.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Duis eu tincidunt purus. Praesent ac est porta, efficitur augue sed, finibus felis.