extends ../layout/index
block slider
    .slider
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Pellentesque aliquet porta sem vel pretium. Integer eget mi nulla. Morbi feugiat odio rhoncus nisi dictum convallis. Nullam lobortis tincidunt metus quis mattis. Aliquam varius congue blandit. Donec sit amet metus quis ante dictum ultrices ac quis felis. Etiam vulputate massa non nisl finibus sodales. Accumsan pretium tortor, ac posuere lacus rhoncus quis. Sed sit amet dignissim libero. 
                p Cras non pretium elit. Nullam ut enim mattis, placerat nibh in, ornare tellus. Morbi justo mauris, pharetra at sapien in, pretium condimentum orci. Quisque gravida leo eget dui dictum malesuada. Nam et tempor tellus. Maecenas sapien augue, tempor nec feugiat vel, ultrices quis purus.Inibus sodales. Accumsan pretium tortor, ac posuere lacus rhoncus quis. Sed sit amet dignissim libero.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", class="img-fluid")
        h2.text-center.mb-5 Próximos viajes
        include ../layout/partials/viajes

    .descuento
        .container 
            .row
                .col-md-6
                    .contenido
                        .h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo 2019 - 28 de Marzo de 2019
                        p.precio $2,500 USD
    .container
        h2.text-center.my-5 Testimoniales
        include ../layout/partials/testimoniales
    
